/* ESTILS GENERALS */
:root {
  /* Colors Principals */
  --color-primari: #0d1117;
  --color-primari-rgb: 13, 17, 23;
  --color-accent-tecnologi: #3182ce;
  --color-secundari: #b38b4d;
  --color-secundari-clar: #d4af37;

  /* Fons i Detalls */
  --fons: #0a0a0c;
  --blanc-os: #f7fafc;

  /* Sombres i Bores */
  --sombra-or: rgba(212, 175, 55, 0.3);
  --sombra-fosca: rgba(0, 0, 0, 0.2);
  --border-terminal: #2d3748;
}

body {
  background-color: var(--fons);
  color: #e2e8fa;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.titulos-cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Material Icons */
.material-symbols-outlined {
  font-size: 24px;
  margin-right: 8px;
}

/* Menu */
.topnav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  padding: 0 40px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--color-primari-rgb), 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 40px var(--sombra-fosca);
  box-sizing: border-box;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: var(--blanc-os);
  font-size: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 0;
  transition: color 0.3s ease;
  font-family: "Cinzel", serif;
  border-bottom: 2px solid transparent;
}

.menu a .material-symbols-outlined {
  margin-right: 10px;
  font-size: 22px;
  transform: none;
}

.menu a:hover {
  color: var(--border-terminal);
  border-bottom: 2px solid var(--border-terminali);
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.logo img {
  height: 80px;
  width: auto;
  display: block;
}

/* Footer */
footer {
  background-color: var(--color-primari);
  color: var(--blanc-os);
  padding: 30px 40px;
  text-align: right;
}

.footer-contingut {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  border-top: 2px solid var(--color-secundari);
}

.social-links {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.social-icon {
  color: var(--color-secundari);
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: var(--color-secundari-clar);
  transform: scale(1.1);
}

.copyright {
  font-size: 14px;
  font-family: "Open Sans", serif;
  opacity: 0.8;
  margin: 0;
  text-align: right;
}